/* src/pages/MealPlan.css */

.meal-plan-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  padding-bottom: 15px;
}

.nutrition-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 500px; /* Optional: Set a max width for better alignment */
  margin: 0 auto; /* Centers the NutritionCard within its container */
}

.nutrition-overview-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nutrition-overview-content {
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
  
}
