/* src/pages/MealPlan.css */

/* MealPlan.css */
.meal-plan-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto; /* Allows horizontal scrolling */
    gap: 20px;
    align-items: flex-start; /* Adjust as necessary */
    justify-content: flex-start; /* Ensures items align to the start */
    padding-bottom: 15px;
  }
  

.nutrition-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.nutrition-overview-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.nutrition-overview-content {
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
}
