/* Common container styling for all questions */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
  }
  
  /* Card styling for questions */
  .card {
    background-color: #90a5a0;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Title styling inside the card */
  .card-title {
    font-size: 2rem;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Button container styling for aligning buttons horizontally */
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 620px;
    margin-top: 20px;
    gap: 20px; /* Add space between buttons */
  }
  