/* SignIn.css */
.social-button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .social-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
  }

/* SignIn.css */

.sign-in-button {
    width: 108%;
    padding: 18px;
    background-color: #6f2da8; /* Original color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth color transition */
    font-size: 15px;
  }
  
  .sign-in-button:hover {
    background-color: #5a2284; /* Darker purple on hover */
  }
  
  