/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Reduced padding */
    padding-top: 20px;
    background-color: #9c8af0;
    color: white;
  }
  
  .header-title {
    margin: 0;
    font-size: 1.5em; /* Reduced font size */
    color: white;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-left: 15px; /* Reduced spacing between links */
    font-size: 0.9em; /* Reduced font size for links */
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: #f0f0f0;
  }
  