/* Base Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color:#F9F9F9;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Header Styling */
.header {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Card Styling */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

/* Button Styling */
.button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.button:hover {
  background-color: #555;
}